[run]
source = src
omit = src/tests/**,src/index.py,src/reader_writer.py,src/app.py,src/AppLibrary.py,src/flask_app.py,src/config.py,src/database.py,src/routes.py, src/repositories/citation_repository.py