[MASTER]

ignore=tests

[MESSAGE CONTROL]
#pylint: disable=too-many-branches
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods,
        cyclic-import,
        wrong-import-position

[FORMAT]

max-line-length=120

[DESIGN]
max-branches=20
max-args=10