<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibtex Web App</title>
</head>
<body>
    <h1>Welcome to Bibtex Web App</h1>
    <h2>Add reference</h2>
    <form action="/add_reference" method="post">
        <label for="reference_type">Choose reference type:</label>
        <select id="reference_type" name="reference_type">
            <option value="inproceedings">Inproceedings</option>
            <option value="article">Article</option>
            <option value="book">Book</option>
        </select>
        <input placeholder="Reference key" name="ID"/>
        <input placeholder="Author" name="author"/>
        <input placeholder="Title" name="title"/>
        <input placeholder="Year" name="year"/>
        <button type="submit">Add Reference</button>
    </form>

    <h2>References</h2>

    <form action="/delete_references" method="post">
        <button type="submit">Delete all references</button>
    </form>

    {% for reference in references %}
        <div style="margin-bottom:50px;">
            <p>Type: {{ reference.ENTRYTYPE }}</p>
            <p>ID: {{ reference.ID }}</p>
            <p>Title: {{ reference.title }}</p>
            <p>Author: {{ reference.author }}</p>
            <p>Year: {{ reference.year }}</p>
            <form action="/delete_reference/{{ reference.ID }}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>