<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibtex Web App</title>
</head>
<body>
    <h1>Welcome to Bibtex Web App</h1>
    <h2>Add reference</h2>
    <form action="/add_reference" method="post">
        <label for="reference_type">Choose reference type:</label>
        <select id="reference_type" name="reference_type">
            <option value="inproceedings">Inproceedings</option>
            <option value="article">Article</option>
            <option value="book">Book</option>
        </select>
        <input placeholder="Reference key" name="ID"/>
        <input placeholder="Author" name="author"/>
        <input placeholder="Title" name="title"/>
        <input placeholder="Year" name="year"/>
        <button type="submit">Add Reference</button>
    </form>

    <h2>References</h2>

    <form action="/delete_references" method="post" onsubmit="return confirmDelete();">
        <button type="submit">Delete all references</button>
    </form>

    <form id="searchForm">
        <label for="searchTerm">Search: </label>
        <input type="text" id="searchTerm" name="searchTerm">
        <button type="button" onclick="searchReferences()">Search</button>
    </form>

    {% for reference in references %}
    <div class="referenceItem" style="margin-bottom:50px;">
        <p>Type: {{ reference.ENTRYTYPE }}</p>
        <p>ID: {{ reference.ID }}</p>
        <p class="title">Title: {{ reference.title }}</p>
        <p class="author">Author: {{ reference.author }}</p>
        <p>Year: {{ reference.year }}</p>
        <form action="/delete_reference/{{ reference.ID }}" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
{% endfor %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function searchReferences() {
        var searchTerm = $('#searchTerm').val().toLowerCase();

        $('.referenceItem').each(function () {
            var referenceTitle = $(this).find('.title').text().toLowerCase();
            var referenceAuthor = $(this).find('.author').text().toLowerCase();

            if (referenceTitle.includes(searchTerm) || referenceAuthor.includes(searchTerm)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
</script>

<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete all references?");
        return result;
    }
</script>