<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}" type="text/css">
    <title>Register</title>
</head>
<body>
    <div class="banner-container">
        <img src="{{url_for('static',filename='images/banner.png')}}" alt="CiteNinja Banner with ninjas citing all sorts of things"/>
    </div>
<form action="/register" method="POST">
    <h2>New user</h2>
    <p>
        Username: <input type="text" name="username" value="{{name}}" maxlength="20" required> 
    </p>
    <p>
        Password: <input type="password" name="password_hash" maxlength="20"  required>
    </p>
    <input type="submit" class="button" value="register">
</form>
<form action="/login" method="get">
    <button type="submit">Login</button>

</body>
</html>